html, body, form, main {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {
  position:absolute;
  display: grid;
  grid-template-columns: auto 1.5fr 1fr;
  grid-template-rows: auto auto 1fr 1fr 1fr auto auto;
  height: 100%;
  width: 100%;
}

.grid-header {
  grid-area: header;
  grid-row: 1;
}

.grid-menu {
  grid-area: menu;
  grid-row: 1/-1;
  grid-column: 1;
}

.grid-main {
  grid-row: 1;
  grid-column: 2/-1;
  overflow-y: scroll;
}

.fullHeight {
  height:100vh
}
